@model PruebaAyudasTecnologicas.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.Quantity > 0)
{
    <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras (@Model.Quantity)</a>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la administración de AyudasTecnologicas</h1>
    </div>
}
else
{
    <div style="text-align: center;">
        <h3>Productos</h3>
    </div>

    @foreach (var group in Model.Products.Select((item, index) => new { Item = item, Index = index })
                         .GroupBy(x => x.Index / 4))
    {
        <div class="row" style="text-align: center;">
            @foreach (var item in group.Select(g => g.Item))
            {
                if (item != null)
                {
                    if (item.Stock < 1)
                    {
                        <div class="col-md-3">
                            <div class="card zoom">
                                <div class="card_title">@item.Name</div>
                                <div class="card_body">
                                    <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                    <p class="mt-2">
                                        @item.Description
                                        <h4 class="text-danger">Producto no disponible</h4>
                                    </p>
                                </div>
                                <div class="card_foot">
                                    <button asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary" disabled>Detalles</button>
                                    <button asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary" disabled>Agregar</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <div class="card zoom">
                                <div class="card_title">@item.Name</div>
                                <div class="card_body">
                                    <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                    <p class="mt-2">
                                        @item.Description
                                        <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                                    </p>
                                </div>
                                <div class="card_foot">
                                    <a asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary">Detalles</a>
                                    <a asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary">Agregar</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    }
}

